<header class="country-header">
    <section class="header">
        <div class="grid-container fluid">
            <div class="grid-x grid-margin-x align-content-middle">
                <div class="cell small-8 large-2 shrink align-self-middle top-left">
                    <a href="#" class="logo" tabindex="0" title="UNDP Logo homepage link">
                        <img src="./static/undp-logo-blue.svg" alt="UNDP Logo (Blue)"/>
                    </a>
                    <div class="site-title">
                        <span><a href="https://www.undp.org/energy" title="Sustainable Energy Hub">SUSTAINABLE ENERGY HUB</a></span>
                        <span><a href="/" title="Sustainable Energy Academy AI API">Sustainable Energy Academy AI API</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
