<button tabindex="0" aria-expanded="false">v0.1.0-beta (2025-05-13)</button>
<div class="accordion__panel" aria-hidden="true">
    <p>
        This is a beta release of the API that includes a streamlined data schema and improved performance.
    </p>
    <br>
    <h5>What's New</h5>
    <ul>
        <li>
            <code>/graph</code> endpoint returns an object containing <code>nodes</code> and <code>edges</code> objects
            to make data visualisation straightforward.
        </li>
        <li>
            <code>/model</code> endpoint now support a list of messages (conversation history ) and returns model
            response together with relevant documents and a ready-to-use graph.
        </li>
        <li>
            LanceDB is now used for storing the data as well as full-text and vector searches.
        </li>
        <li>
            Overall performance has been improved due to GPT-4o mini and LanceDB.
        </li>
    </ul>
    <br>
    <h5>Bug Fixes</h5>
    <ul>
        <li>None.</li>
    </ul>
</div>
