<button tabindex="0" aria-expanded="false">v0.6.0 (2025-09-25)</button>
<div class="accordion__panel" aria-hidden="true">
    <p>
        This release refines the knowledge graph and graph query process.
    </p>
    <br>
    <h5>What's New</h5>
    <ul>
        <li>
            The knowledge graph now includes over 20k nodes and 50k edges extracted from SDG 7-related UNDP publications
            and SDG 7 reports.
        </li>
        <li>
            node's <code>metadata</code> and edge's <code>level</code> properties have been removed.
        </li>
        <li>
            Graph data is traversed using an in-memory <code>NetworkX</code> graph.
        </li>
        <li>
            An ETL nodebook for updating database records has been added.
        </li>
    </ul>
    <h5>Bug Fixes</h5>
    <ul>
        <li>
            Fixed broken tests.
        </li>
    </ul>
</div>