<button tabindex="0" aria-expanded="false">v0.6.1 (2025-01-30)</button>
<div class="accordion__panel" aria-hidden="true">
    <p>
        This release changes the way suporting documents are retrieved from the database.
    </p>
    <br>
    <h5>What's New</h5>
    <ul>
        <li>
            Documents are now prefiltered based on the time period implied by the conversation. If no period is present,
            the latest year (2025) is assumed.
        </li>
    </ul>
    <h5>Bug Fixes</h5>
    <ul>
        None.
    </ul>
</div>